h1 {
        text-align: center;
    }

.conteudosobre {
        background-color: rgb(4, 62, 56);
        padding: 20px;
        border-radius: 5px;
        margin: 50px;
    }

.imagensSobre {
    display: grid;
    grid-template-columns: 50% 50%;
    img {
        border: 1px solid white;
        border-radius: 5px;
        width: 70%;
        height: 100%;
    }

    p {
        text-align: center;
    }
}
