* {
    margin: 0;
}

.fonte {
        font-family: "Comfortaa", sans-serif, Arial;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
  }

  header {
    width: 100%;
    background-color: black;
    padding: 5px;
    box-sizing: border-box;

    nav {
        float: right;
        margin-top: 10px;

        ul{
            list-style: none;
    
            li {
                display: inline-block;
                text-transform: uppercase;
                margin: 15px;
                margin-top: 60px;
                
                
                a {
                    color: white;
                    text-decoration: none;
                    transition: 0.5s all;
                }
                
                a:hover {
                    color: rgb(0, 255, 17);
                }
        }
      }
    }
    }

    main {
        float: right;

        h1 {
            text-transform: uppercase;
        }
    }

body {
    background-color: #062a0e;
    color: white;
}

.btnjogar {
    border: 1px solid white;
        border-radius: 5px;
        background-color: #037128;
        padding: 13px 20px;
}

.btnjogar:hover {
    color: rgb(0, 255, 17);
    background-color: #0c391b;
    border: 1px solid rgb(0, 255, 17);
     }

.btncontato {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.btncontato:hover {
    color: rgb(0, 255, 17);
    border: 1px solid rgb(0, 255, 17);
}

