* {
    margin: 0;
}

.fonte {
        font-family: "Comfortaa", sans-serif, Arial;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
  }

  header {
    width: 100%;
    height: 145px;
    background-color: black;
    padding: 5px;
    box-sizing: border-box;

    nav {
        float: right;
        margin-top: 10px;

        ul{
            list-style: none;
    
            li {
                display: inline-block;
                text-transform: uppercase;
                margin: 15px;
                margin-top: 60px;
                
                
                a {
                    color: white;
                    text-decoration: none;
                    transition: 0.5s all;
                }
                
                a:hover {
                    color: rgb(0, 255, 17);
                }
        }
      }
    }
    }

body {
    background-color: #062a0e;
    color: white;
}

.btnjogar {
    border: 1px solid white;
        border-radius: 5px;
        background-color: #037128;
        padding: 13px 20px;
}

.btnjogar:hover {
    color: rgb(0, 255, 17);
    background-color: #0c391b;
    border: 1px solid rgb(0, 255, 17);
     }

.btncontato {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.btncontato:hover {
    color: rgb(0, 255, 17);
    border: 1px solid rgb(0, 255, 17);
}

.btnsaibamais {
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.5s all;
}

.btnsaibamais:hover {
    color: rgb(0, 255, 17);
    border: 1px solid rgb(0, 255, 17);
}

main {
    text-align: justify;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;

   .conteudo1 {
    margin: 70px 50px 10px 7px;

    h1 {
        text-transform: uppercase;
        text-align: left;
    }
   
     }

.banner {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0px 0px 15px rgb(120, 249, 129);
    
    
}

}

